.nav {
  background-color: yellow;
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}

.dropbutton {
  background-color: #696969;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: auto;
}

.menu-content1 {
  left: 0;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 212px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.menu-content2 {
  left: 0;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.menu-content3 {
  left: 0;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.menu-content4 {
  left: 0;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.menu1:hover .menu-content1 {
  display: block;
}
.menu2:hover .menu-content2 {
  display: block;
}
.menu3:hover .menu-content3 {
  display: block;
}
.menu4:hover .menu-content4 {
  display: block;
}
