.tlo{
  background-image: url(Miedzych贸d-z-lotu-ptaka.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top,center;
  background-size: 100% ;
  background-clip: ;
  background-origin: ;
}
/* sekcja przycisk贸w */
.menu1 , .menu2 , .menu3 , .menu4{
  position: fixed;

  font-style: normal;
  font-size: 12;
  font-family: Arial, sans-serif;
  position: relative;
  display: inline-block;
}
/*.menu2 {
  position: fixed;

  font-style: normal;
  font-size: 12;
  font-family: Arial, sans-serif;
  position: relative;
  display: inline-block;
}
.menu3 {
  position: fixed;

  font-style: normal;
  font-size: 12;
  font-family: Arial, sans-serif;
  position: relative;
  display: inline-block;
}
.menu4 {
  position: fixed;

  font-style: normal;
  font-size: 12;
  font-family: Arial, sans-serif;
  position: relative;
  display: inline-block;
}*/
/* sekcja rozwijanego g贸wna */
.menu-content1 /*, .menu-content2 , .menu-content3 , .menu-content4*/{
  left: 0;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 212px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.menu-content2 {
  left: 0;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.menu-content3 {
  left: 0;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.menu-content4 {
  left: 0;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.menu1:hover .menu-content1 {
  display: block;
}
.menu2:hover .menu-content2 {
  display: block;
}
.menu3:hover .menu-content3 {
  display: block;
}
.menu4:hover .menu-content4 {
  display: block;
}
/* kolorowanei link贸w na czarno */
.menu1 a {
  color: black;
}
.menu2 a {
  color: black;
}
.menu3 a {
  color: black;
}
.menu4 a {
  color: black;
}
/* wyglad przyciskow */
.dropbutton1 , .dropbutton2 , .dropbutton3 , .dropbutton4{
  background-color: #696969;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: auto;
}
/*.dropbutton2 {
  background-color: #696969;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: auto;
}
.dropbutton3 {
  background-color: #696969;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: auto;
}
.dropbutton4 {
  background-color: #696969;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: auto;
}*/
/* tresc */
.tresc {
  background-color: #FFEBAD;
  background-position: center;
  max-width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}
.naglowek-1{
  font-style: normal;
  font-family: sans-serif, Arial;
  background-position: center;
  max-width: 60%;
  text-align: center;
  margin-left: 120px;
}
.tresc-1 {
  font-style: normal;
  font-family: sans-serif, Arial;
  background-position: center;
  margin: 120px;
  text-overflow: scroll;
  max-width: 50%;

}
