body{
  background: url(5ea12b2caeee9_o_original.png) no-repeat top fixed ;
}

.dropdown1 {
  font-style: normal;
  font-size: 12;
  font-family: Arial, sans-serif;
  position: relative;
  display: inline-block;
}

.dropdown1-content {
  left: 0;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 212px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown1:hover .dropdown1-content {
  display: block;
}

.dropdown1-content a {
  color: black;
}

.dropbutton {
  background-color: #696969;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: auto;
}
