.tlo{
  background-image: url(Miedzych贸d-z-lotu-ptaka.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top,center;
  background-size: 100% ;
  background-clip: ;
  background-origin: ;
}
.akukaracza {
  z-index: 2;
  position: absolute;
}
/* sekcja przycisk贸w */

.ul {
  text-align: center;
  float: none;
}
.ul li {
  display: inline-block;
  position: static;
}

.menu1 , .menu2 , .menu3 , .menu4{
  position: fixed;

  font-style: normal;
  font-size: 12;
  font-family: Arial, sans-serif;
  position: relative;
  display: inline-block;
}

/* sekcja rozwijanego g贸wna */
.menu-content1 {
  left: 0;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 212px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 3;
}

.menu-content2 {
  left: 0;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 155px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 3;
}

.menu-content3 {
  left: 0;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 3;
}

.menu-content4 {
  left: 0;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 3;
}

.menu1:hover .menu-content1 {
  display: block;
}
.menu2:hover .menu-content2 {
  display: block;
}
.menu3:hover .menu-content3 {
  display: block;
}
.menu4:hover .menu-content4 {
  display: block;
}
/* kolorowanei link贸w na czarno */

.menu1 a {
  color: black;
}
.menu2 a {
  color: black;
}
.menu3 a {
  color: black;
}
.menu4 a {
  color: black;
}
/* wyglad przyciskow */
.dropbutton1 , .dropbutton2 , .dropbutton3 , .dropbutton4 {
  background-color: #696969;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: auto;
}
.dropbutton2 {
  background-color: #696969;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: auto;
}
.dropbutton3 {
  background-color: #696969;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: auto;
}
.dropbutton4 {
  background-color: #696969;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: auto;
}
/* tresc */
.tresc {
  background-color: #FFEDCF;
  background-position: center;
  max-width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  z-index: 2;
  position: absolute;
}
.naglowek-1{
  font-style: normal;
  font-family: sans-serif, Arial;
  background-position: center;
  max-width: ;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
}

.tresc-1 {
  font-style: normal;
  font-family: sans-serif, Arial;
  background-position: center;
  margin-left: 15%;
  margin-right: 15%;
  text-overflow: scroll;
  max-width: ;
}

/* Zegar */

@keyframes clock-animation {
	0% {
		background: #3e5afb;
	}

	50% {
		background: #3e5;
	}

	100% {
		background: yellow;
	}
}
.clock-container {
  z-index: 1;

	width: 250px;
	height: 250px;
	border: 6px solid rgb(133, 133, 133);
	border-radius: 50%;
	position: absolute;
	background: #fff;
}
.clock-container::after {
	content: "";
	position: absolute;
	width: 15px;
	height: 15px;
	background: rgb(133, 133, 133);
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
}
.clock-number {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
}
.clock-number:after {
	content: "";
	position: absolute;
	height: 13px;
	width: 3px;
	top: 13%;
	background: #000;
}
.clock-number>div {
	padding: 12px;
}
.num1 {
	transform: rotate(30deg)
}
.num1>div {
	transform: rotate(-30deg)
}
.num2 {
	transform: rotate(60deg)
}
.num2>div {
	transform: rotate(-60deg)
}
.num3 {
	transform: rotate(90deg)
}
.num3>div {
	transform: rotate(-90deg)
}
.num4 {
	transform: rotate(120deg)
}
.num4>div {
	transform: rotate(-120deg)
}
.num5 {
	transform: rotate(150deg)
}
.num5>div {
	transform: rotate(-150deg)
}
.num6 {
	transform: rotate(180deg)
}
.num6>div {
	transform: rotate(-180deg)
}
.num7 {
	transform: rotate(210deg)
}
.num7>div {
	transform: rotate(-210deg)
}
.num8 {
	transform: rotate(240deg)
}
.num8>div {
	transform: rotate(-240deg)
}
.num9 {
	transform: rotate(270deg)
}
.num9>div {
	transform: rotate(-270deg)
}
.num10 {
	transform: rotate(300deg)
}
.num10>div {
	transform: rotate(-300deg)
}
.num11 {
	transform: rotate(330deg)
}
.num11>div {
	transform: rotate(-330deg)
}
.num12 {
	transform: rotate(360deg)
}
.num12>div {
	transform: rotate(-360deg)
}
.clock-hand {
	width: 100%;
	height: 100%;
	position: absolute;
}
.clock-hand>div {
	left: 50%;
	bottom: 50%;
	transform: translateX(-50%);
	position: absolute;
	border-radius: 12px;
}
.second-hand {
	height: 32%;
	width: 1px;
	background: rgb(0, 0, 0);
}
.minute-hand {
	height: 30%;
	width: 4px;
	background: #000;
}
.hour-hand {
	height: 20%;
	width: 8px;
	background: #000;
}
.second-hand::after {
	position: absolute;
	content: "";
	border-style: solid;
	border-width: 4px;
	border-color: transparent transparent rgb(0, 0, 0) transparent;
	left: 50%;
	transform: translateX(-50%);
	top: -6%;
}
